<h2>Produtos</h2>

<div *ngIf="produto">
  <div>
    <label>name:
      <input [(ngModel)]="produto.descricao"/>
    </label>
  </div>
  <div>
    <label>Imagem(url):
      <input [(ngModel)]="produto.imagemUrl"/>
    </label>
  </div>
  <div>
    <label>Data de Fabricação:
      <input [(ngModel)]="produto.dataFabricacao"/>
    </label>
  </div>
  <div>
    <label>Data de Validade:
      <input [(ngModel)]="produto.dataValidade"/>
    </label>
  </div>

  <button (click)="new()">Novo</button>
  <button (click)="save()">Salvar</button>
</div>

<ul class="produtos">
  <li *ngFor="let produto of produtos">
    <span class="badge">{{produto.id}}</span> {{produto.descricao}}
    <button class="edit" title="edit produto" (click)="onSelect(produto)">editar</button>
    <button class="delete" title="delete produto" (click)="delete(produto)">excluir</button>
  </li>
</ul>